json5==0.9.5
logging==0.4.9.6
pandas==1.2.4
ipython==8.5.0
requests-file==1.5.1
scikit-learn==1.3.0
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1618497241363/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
